header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(208, 192, 191);
    
}
.logo{

}
.category{

}
.acc{

}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.menu ul {
    list-style: none;
    padding: 0;
}
.menu > ul {
    display: flex;
    justify-content: space-evenly;
}
.menu li {
    width: 150px;
    padding: 5px;
}
.menu > ul > li:hover {
    background-color: #ffffff;
}
.menu > ul > li {
    position: relative;
}
.menu > ul > li > ul {
    z-index: 3;
    position: absolute;
    left: 0;
}
.menu .sub {
    display: none;
}
.menu > ul > li:hover ul {
    display: block;
}
.menu .sub > li {
    opacity: 0.5;
    background-color: #ffffff;
}
.acc .sub > li:hover {
    background-color: #ffffff;
    opacity: 0.5;
}
.acc ul {
    list-style: none;
    padding: 0;
}
.acc > ul {
    display: flex;
    justify-content: space-evenly;
}
.acc li {
    width: 150px;
    padding: 5px;
}
.acc > ul > li:hover {
    background-color: #ffffff;
}
.acc > ul > li {
    position: relative;
}
.acc > ul > li > ul {
    z-index: 3;
    position: absolute;
    left: 0;
}
.acc .sub {
    display: none;
}
.acc > ul > li:hover ul {
    display: block;
}
.acc .sub > li {
    opacity: 0.5;
    background-color: #ffffff;
}
.acc .sub > li:hover {
    background-color: #ffffff;
    opacity: 0.5;
}
.product {
    box-sizing: border-box;
    width: 15%;
    height: 100%;
    object-fit: cover;
    margin-bottom : 4%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
.row {
    display:flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content: space-around;

    width: 100%;

}
div img {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}