main {
    margin-bottom: 40px;
}
.banner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}


.slide {
    display: flex;
    animation: slide 15s ease 1s infinite;
}
.slide img {
    width: 1900px;
    height: 600px;
}
@keyframes slide {
    20% {
        transform: translateX(-1900px);
    }
    40% {
        transform: translateX(-3800px);
    }
    60% {
        transform: translateX(-5700px);
    }
    80% {
        transform: translateX(-7700px);
    }
    100% {
        transform: translateX(0px);
    }
}

.row {
    display:flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content: space-around;

    width: 100%;

}

.product {
    box-sizing: border-box;
    width: 15%;
    height: 100%;
    object-fit: cover;
    margin-bottom : 4%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

img {
    width: 100px;
    height: 150px;
}
.listname {
    margin: 40px;
    text-align: center;
}
.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.product > .img {
    display: flex;
}