/*
table {
    width: 80%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}
*/
.delivery_state{
    font-size: 2.0em;
}
.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container > button{
    margin-top: 20px;
}

#plusminus{
    width: 5px;
}

.delivery_state{
    margin:0 auto;
    text-align: center;
    background-color: rgb(88,68,68,0.1);
    color: rgb(255,0,0,0.7);
}

.thumbnails{
    width: 100px;
    height: 150px;
}

.od_title{
    padding-left: 165px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paging{
    display: inline;
}

.row{
    display: flex;
    flex-direction: column;
}

.info_menu, page{
    padding-left: 140px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 1rem auto;
    background-color: white;
}

/* 테이블 행 */
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color : rgb(88,68,68); opacity : 0.3;
    color: #ddd;
}

.reply {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
}

.reply_child {
    text-align: left;
    width: 50px;
    height: 50px;
    background-color: red;
    /* 수평 중앙 정렬하기 */
    margin: 0 auto;
}

/* 테이블 비율 */
th:nth-child(1),
td:nth-child(1) {
    width: 15%;
}

/*밑에부터 버튼*/
.button_position{
    display: flex;
    justify-content: center;
}

.btn-gradient {
    margin: 5px;
}


.btn.green {box-shadow: 0px 4px 0px #87a86f;}
.btn.green:active {box-shadow: 0 0 #87a86f; background-color: #87a86f;}

/* Gradient buttons */
.btn-gradient {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-gradient.green {
    background: rgba(130,200,160,1);
    background: -moz-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130,200,160,1)), color-stop(100%, rgba(130,199,158,1)));
    background: -webkit-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
    background: -o-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
    background: -ms-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
    background: linear-gradient(to bottom, rgba(130,200,160,1) 0%, rgba(124, 185, 149, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c8a0', endColorstr='#82c79e', GradientType=0 );
}
.btn-gradient.green:active  {background: #72B08E;}


/*반응형 버튼*/
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* 5 */
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow:none;
}
.btn-5:before,
.btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
            -1px -1px 5px 0px #fff,
            7px 7px 20px 0px #0003,
            4px 4px 5px 0px #0002;
    transition:400ms ease all;
}
.btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
}

/*이밑은 CartList의 모두주문 버튼*/
/* 16 */
.btn-16 {
    border: none;
    color: #000;
}
.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn-16:hover {
    color: #000;
}
.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.btn-16:active {
    top: 2px;
}
